#day {
	text-align: center;
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 25px;
}

.camera_event {
	width: 200px;
	height: 160px;
//	border: 1px solid;
//	margin: 10px 0px 10px 0px;
	float: left;
}

#calendar {
	width: 200px;
	height: 160px;
	float: left;
}

#live_video_toggle_div {
	display: none;
}

#live_video_div {
	display: block;
	width: 675px;
	height: 500px;
	float: left;
	clear:left;
}

#live_label {
	text-align:center;
	width: 100%;
}

#live_video {
	width: 640px;
	float: left;
}

#live_video_img {
	width: 640px;
	float: left;
}

#info {
	float: left;
}

.camera_delete {
	width: 25px;
	height: 29px;
	float: left;
}

.camera_time {
	width: 200px;
	text-align: center;
}

.camera_video {
	float: left;
	width: 160px;
}

#gate_control_div {
	width: auto;
}

.gate_status {
	width: 180px;
	float: left;
        margin: 15px 10px;
	padding: 0px 0px 15px 0px;
	border: 1px solid black;
	box-shadow: 10px 10px 5px #888888;
}

.gate_name {
}

.gate_status button {
	-webkit-appearance: none;
	width: 150px;
	padding: 15px;
	margin: 0px 15px;
	font-weight: bold;
	border: solid #666 1px;
	background-color: #FFF;
	color: #666;
	font-size: 14px;
	-webkit-border-radius: .7em;
	border-radius: .7em;
	-webkit-box-shadow: 2px 2px 3px #999; 
	box-shadow: 2px 2px 2px #bbb;
}

.gate_state {
}

.gate_hold_state {
}

.minicalendar { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; color:navy; text-align:center; border-width:1px 1px; border-style:solid; border-color:#bbbbbb; margin-left: 30px;}
.normal-day { background-color:#ddffdd; }
.weekend-day { background-color:#fbfbd4; }
.selected-day { background-color:#ffb0b0; color:black; font-weight:bold}
.calendar-month { font-weight:bold}
.calendar-header { background-color:#e0e0ff; color:black; font-weight:bold; text-align:center; }
.calendar-footer { background-color:#eeeeee; font-weight:bold; text-align:center; }

